﻿@model MVC_CMDB.Models.modLogin
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Echec de connexion, vérifiez vos infirmations de connexion");
    <div>


        <fieldset>
            <legend>Connexion </legend>
            <div>@Html.LabelFor(u => u.AdresseMail)</div>
            <div>
                @Html.TextBoxFor(u => u.AdresseMail)
                @Html.ValidationMessageFor(u => u.AdresseMail)
            </div>

            <div>@Html.LabelFor(u => u.MotDePasse)</div>
            <div>
                @Html.PasswordFor(u => u.MotDePasse)
                @Html.ValidationMessageFor(u => u.MotDePasse)
            </div>
            <input type="submit" value="Connexion" />

        </fieldset>
    </div>
}

