﻿@model MVC_CMDB.Models.Evenements

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.Identity.IsAuthenticated)
{

<h2>Details</h2>

<div>
    <h4>Evenements</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.titre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateOuverture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateOuverture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateFermeture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateFermeture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fichierJoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fichierJoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Applications.editeur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Applications.editeur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Composants.adresseMac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Composants.adresseMac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Evenements2.titre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Evenements2.titre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priorites.priorite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priorites.priorite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Statuts.statut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Statuts.statut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypesEven.typeEven)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypesEven.typeEven)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utilisateurs.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utilisateurs.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utilisateurs1.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utilisateurs1.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utilisateurs2.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utilisateurs2.nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idEvenement }) |
    @Html.ActionLink("Back to List", "Index")
</p>
    
} else {
    <h2>Veuillez vous identifier avant d'accéder à cette page !</h2>
    <h3>@Html.ActionLink("Connexion", "LogIn", "Login")</h3>
}
    
