﻿@model MVC_CMDB.Models.Evenements

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.Identity.IsAuthenticated)
{
    
<h2>Edit</h2>

@(Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Evenements</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.idEvenement)

        <div class="form-group">
            @Html.LabelFor(model => model.titre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.titre)
                @Html.ValidationMessageFor(model => model.titre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.description)
                @Html.ValidationMessageFor(model => model.description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dateOuverture, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dateOuverture)
                @Html.ValidationMessageFor(model => model.dateOuverture)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateFermeture, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateFermeture)
                @Html.ValidationMessageFor(model => model.DateFermeture)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fichierJoint, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fichierJoint)
                @Html.ValidationMessageFor(model => model.fichierJoint)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fkTypeEven, "fkTypeEven", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fkTypeEven", String.Empty)
                @Html.ValidationMessageFor(model => model.fkTypeEven)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fkPriorite, "fkPriorite", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fkPriorite", String.Empty)
                @Html.ValidationMessageFor(model => model.fkPriorite)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fkStatut, "fkStatut", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fkStatut", String.Empty)
                @Html.ValidationMessageFor(model => model.fkStatut)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fkApplication, "fkApplication", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fkApplication", String.Empty)
                @Html.ValidationMessageFor(model => model.fkApplication)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fkComposant, "fkComposant", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fkComposant", String.Empty)
                @Html.ValidationMessageFor(model => model.fkComposant)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fkOuvertPour, "fkOuvertPour", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fkOuvertPour", String.Empty)
                @Html.ValidationMessageFor(model => model.fkOuvertPour)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fkOuvertPar, "fkOuvertPar", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fkOuvertPar", String.Empty)
                @Html.ValidationMessageFor(model => model.fkOuvertPar)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fkAttribueA, "fkAttribueA", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fkAttribueA", String.Empty)
                @Html.ValidationMessageFor(model => model.fkAttribueA)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fkIncidentAdj, "fkIncidentAdj", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fkIncidentAdj", String.Empty)
                @Html.ValidationMessageFor(model => model.fkIncidentAdj)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
    
} else {
    <h2>Veuillez vous identifier avant d'accéder à cette page !</h2>
    <h3>@Html.ActionLink("Connexion", "LogIn", "Login")</h3>
}
