﻿@model IEnumerable<MVC_CMDB.Models.Evenements>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.Identity.IsAuthenticated)
{

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateOuverture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateFermeture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fichierJoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Applications.editeur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Composants.adresseMac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Evenements2.titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priorites.priorite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Statuts.statut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypesEven.typeEven)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Utilisateurs.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Utilisateurs1.nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Utilisateurs2.nom)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.titre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateOuverture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateFermeture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fichierJoint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Applications.editeur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Composants.adresseMac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Evenements2.titre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Priorites.priorite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Statuts.statut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypesEven.typeEven)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Utilisateurs.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Utilisateurs1.nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Utilisateurs2.nom)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idEvenement }) |
            @Html.ActionLink("Details", "Details", new { id=item.idEvenement }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idEvenement })
        </td>
    </tr>
}

</table>
   
} else {
    <h2>Veuillez vous identifier avant d'accéder à cette page !</h2>
    <h3>@Html.ActionLink("Connexion", "LogIn", "Login")</h3>
}
